<table class="table table-bordered">
  <tr>
  	<td><strong>Name:</strong></td>
    <td><%= @user.name %></td>
  </tr>
  <tr>
    <td><strong>Email:</strong></td>
    <td><%= @user.email %></td>
  </tr>
  <tr>
    <td><strong>Phone Number:</strong></td>
    <td><%= @user.phone %></td>
  </tr>
  <tr>
    <td><strong>Description:</strong></td>
    <td><%= @user.description %></td>
  </tr>
  <tr>
    <td><strong>Registeration:</strong></td>
    <td><%= @user.created_at %></td>
  </tr>
  <tr>
    <td><strong>Last Update:</strong></td>
    <td><%= @user.updated_at %></td>
  </tr>
</table>