<%= form_for @user, url: '/invitations_accept_signup' do |f| %>
  <label><h4>Send your information back to </h4></label>
  <%= hidden_field :page, :token, value: params[:token] %>
  <%= f.text_field :name, placeholder: "Full Name" %>
  <%= f.text_field :email, placeholder: "Email", value: @invitation.email %>
  <%= f.password_field :password, placeholder: "Password" %>
  <%= f.password_field :password_confirmation, placeholder: "Re-type password" %>
  <label class="checkbox"><%= check_box("page", "remember_me", { checked: true }, "yes", "no") %> Remember me</label>
  <%= f.submit "Create my account", class: "btn btn-warning signup-btn" %>
  <br>
<% end %>