<table class="table">
  <thead>
    <tr>
    	<th>Name</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Description</th>
      <th>Last Updated</th>
    </tr>
  </thead>
  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= link_to contact.name, user_path(contact) %></td>
        <td><%= link_to contact.email, user_path(contact) %></td>
        <td><%= contact.phone %></td>
        <td><%= contact.description %></td>
        <td><%= contact.updated_at.to_formatted_s(:db) %></td>
      </tr>
    <% end %>
  </tbody>
</table>