<%= form_for @user, url: reset_update_path do |f| %>
  <label><h4>Set your new password</h4></label>
  <%= f.hidden_field :account_token, value: params[:account_token] %>
  <%= f.password_field :password, placeholder: "Password" %>
  <%= f.password_field :password_confirmation, placeholder: "Re-type password" %>
  <br>
  <%= f.submit "Confirm", class: "btn btn-primary" %>
<% end %>