<%= form_for @user, url: password_path do |f| %>
  <label><h4>Your old password</h4></label>
  <%= password_field :page, :password, placeholder: "Old password"  %>
  <br>
  <label><h4>Set new password</h4></label>
  <%= f.password_field :password, placeholder: "New password" %>
  <%= f.password_field :password_confirmation, placeholder: "Re-type password" %>
  <br>
  <%= f.submit "Confirm", class: "btn btn-primary" %>
<% end %>