<%= form_for @user, url: password_path do |f| %>
  <label>Your old password</label>
  <%= password_field :page, :password, placeholder: "Old password"  %>
  <br>
  <label>Set new password</label>
  <%= f.password_field :password, placeholder: "New password" %>
  <%= f.password_field :password_confirmation, placeholder: "Re-type password" %>
  <br>
  <%= f.submit "Confirm", class: "btn btn-primary" %>
<% end %>